.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.navbar1{
    margin-left:50px ;

}
.navbar2{
    display: flex;
    gap: 33px;
}
.navbar3{
    background: black;
    border-radius: 50px;
    height: 25px;
    display: flex;
    margin-right: 60px;
}
.firste_txt{
    margin-top: 60px;
    color: rgb(55, 65, 81);
}
.wb_sun{
    background: white;
    border-radius: 200px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom :2px;
    height: 20px;
}
.body1{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}
h1{
    font-size: 60px;
    font-family:'Poppins';
    margin-top: 0px;
    margin-bottom: 25px;
    color: rgb(55, 65, 81);
}
button{
    padding: 20px;
    border-radius: 10px;
    border: none;
    padding-left: 45px;
    padding-right: 45px;
    background-color: rgb(236, 252, 247) ;
}
.button1{
    background-color:rgb(54, 54, 230);
a{
    color:aliceblue
}    
}
.link1:hover{
    color: aliceblue;
    color: rgb(55, 65, 81);
} 
.text{
    margin-bottom: 20px;
    margin-top: 0px;
    color: rgb(55, 65, 81);
}
.text2{
    margin-top: 20px;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    color: rgb(55, 65, 81);
}
.img2{
    margin-left: 40px;
    margin-right: 9px;
}
.img1{
    margin-right: 9px;
}
a{
    color: rgb(55, 65, 81);
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;
}
.link{
    color: blue;
    text-decoration: underline;
}
.link1:hover{
    color: aliceblue;
    text-decoration: none;
}
.pic{
    height: 500px;
}
body{
    background: rgb(236, 252, 247);   
}
.body2{
    margin-right:90px ;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
 @media (max-width: 500px){
        .body1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .navbar{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .navbar2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .navbar3{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .navbar1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .firste_txt{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .text2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body1{
            display: flex;
            flex-direction: column;
            align-items: center;
 }}